* {
    font-family: 'Times New Roman', Times, serif;

}

body {
    background-color: rgb(255, 255, 224);
    margin: 8px 20px 3px 20px;
}

h1,
h2 {
    font-size: 12pt;
    color: rgb(204, 0, 0);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 12px;
}


p {
    font-size: 10pt;
    text-align: left;
}